@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url(tools.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #5e42a6;
}

@media screen and (max-width: 600px) {

    .my-img {
        width: 100%;
        max-width: 50%;
        border-radius: 50%;
        padding: 2em;
    }

    #color-text {
        color: rgb(88, 199, 102);
        font-size: 1em;
    }

    p {
        font-size: 1.2em;
        line-height: 1.2em;
        padding: 0.5em;
    }

    h1 {
        font-size: 1.5em;
        margin-bottom: 1em;
    }

    h1,
    h2 {
        color: #fff;
    }

    .main p {
        color: #fff;
        line-height: 1.2em;
        text-align: center;
    }

    .sidebar {
        position: fixed;
        width: 25%;
        height: 100vh;
        background: #312450;
    }

    .nav {
        position: relative;
        margin: 0 15%;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        font-weight: bold;
    }

    .nav ul {
        list-style: none;
    }

    li {
        position: relative;
        margin: 1.2em 0;
    }

    a {
        position: relative;
        color: #fff;
        line-height: 2em;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 2em;
        letter-spacing: 0.2em;
        color: rgba(#fff, 0.35);
        display: block;
        transition: all ease-out 300ms;
    }

    .nav ul li {
        font-size: 0.4em;
    }

    .nav .active {
        color: #b74e91;
    }

    .nav a:not(.active)::after {
        opacity: 0.2;
    }

    .nav a:hover {
        color: #5e42a6;
    }

    .nav a::after {
        content: "";
        position: absolute;
        width: 100%;
        min-height: 0.2em;
        background: #000;
        left: 0;
        bottom: 0;
        background-image: linear-gradient(to right, #5e42a6, #b74e91);
    }

    .nav ul li {
        font-size: 0.4em;
    }

    .main {
        position: relative;
        width: 75%;
        float: right;
        height: 100vh;
        margin-top: 1em;

    }

    .main h1 {
        padding-top: 2em;
    }

    .main ol {
        color: #fff;
        margin-bottom: 5em;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .nav p {
        text-transform: uppercase;
        font-size: 1em;
        left: 0.1em;
        color: #fff;
        font-weight: bold;
        margin-top: 1.4em;
    }

    footer {
        position: absolute;
        content: "";
        left: 5%;
        bottom: 2em;
        margin-top: 10em;
    }

    footer p {
        color: #fff;
        font-size: 0.85em;

    }

    footer span {
        font-size: 0.7em;
        margin-top: 1em;
    }

    .fa {
        font-size: 0.8em;
        padding: 0.2em;
    }

    .fa:hover {
        color: rgb(88, 199, 102);
    }

}

@media screen and (max-width: 1600px) {

    .sidebar {
        position: fixed;
        width: 33%;
        height: 100vh;
        background: #312450;
    }

    footer {
        position: absolute;
        content: "";
        left: 10%;
        bottom: 2em;
    }

    footer p {
        color: #fff;
        font-size: 1.4em;

    }

    footer span {
        font-size: 0.5em;
        margin-top: 1em;
    }
}

.my-img {
    width: 40%;
    max-width: 50%;
    border-radius: 50%;
    padding: 2em;
}

#color-text {
    color: rgb(88, 199, 102);
    font-size: 1em;
}

p {
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 0.5em;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

h1,
h2 {
    color: #fff;
}

.main p {
    color: #fff;
    line-height: 1.2em;
    text-align: center;
}

.sidebar {
    position: fixed;
    width: 25%;
    height: 100vh;
    background: #312450;
}

.nav {
    position: relative;
    margin: 0 15%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}

.nav ul {
    list-style: none;
}

li {
    position: relative;
    margin: 1em 0;
}

a {
    position: relative;
    color: #fff;
    line-height: 2em;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 0.2em;
    display: block;
    transition: all ease-out 300ms;
}

.active {
    color: #b74e91;
}

.nav a:not(.active)::after {
    opacity: 0.2;
}

.nav a:hover {
    color: #5e42a6;
}

.nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 0.2em;
    background: #000;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #5e42a6, #b74e91);
}

.nav ul li {
    font-size: 1em;
}

.main {
    position: relative;
    width: 70%;
    float: right;
    height: 100vh;
    margin-top: 1em;

}

.main h1 {
    padding-top: 2em;
}

.main ol {
    color: #fff;
    margin-bottom: 5em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.nav p {
    text-transform: uppercase;
    font-size: 1em;
    left: 0.1em;
    color: #fff;
    font-weight: bold;
    margin-top: 1.4em;
}

.fa {
    padding: 0.5em;
}

.fa:hover {
    color: rgb(88, 199, 102);
}

#portfolio-link {
    color: #b74e91;
}

#portfolio-link:hover {
    color: rgb(88, 199, 102);
}