table,
th,
td {
    margin-top: 3rem;
    border: 1px solid #000;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 0.3em;
    padding: 0.5em;
}

th,
td {
    text-align: center;
    border-color: #444;
}

th {
    background: blueviolet;
    color: #fff;
}

caption {
    color: #fff;
    font-weight: bold;
    padding-bottom: 0.5em;
}

iframe {
    margin: 4em 0 3em 0;
}